<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yqbj.ghxm"
    android:installLocation="auto">

    <uses-sdk tools:overrideLibrary="com.huawei.android.hms.base,com.huawei.android.hms.push" />

    <!-- 加入应用需要的权限 -->
    <!-- 网络相关 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 读写文件 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 定位相关 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <!-- 多媒体 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- 手机状态 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--华为桌面角标权限-->
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />

    <!--三星桌面角标权限-->
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE"/>

    <!--HTC桌面角标权限-->
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT"/>

    <!-- 8.0 系统上需要 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- SDK权限申明, 第三方APP接入时，请将com.netease.nim.demo替换为自己的包名 -->
    <!-- 和下面的uses-permission一起加入到你的AndroidManifest文件中。 -->
    <permission
        android:name="com.yqbj.ghxm.permission.RECEIVE_MSG"
        android:protectionLevel="signature" />

    <!-- 接受SDK消息广播权限， 第三方APP接入时，请将com.netease.nim.demo替换为自己的包名 -->
    <uses-permission android:name="com.wulewan.ghxm.permission.RECEIVE_MSG" />

    <!-- 小米推送 -->
    <permission
        android:name="com.yqbj.ghxm.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.wulewan.ghxm.permission.MIPUSH_RECEIVE" />

    <!-- 魅族推送 -->
    <!-- 兼容flyme5.0以下版本，魅族内部集成pushSDK必填，不然无法收到消息 -->
    <uses-permission android:name="com.meizu.flyme.push.permission.RECEIVE" />

    <permission
        android:name="com.yqbj.ghxm.push.permission.MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.wulewan.ghxm.push.permission.MESSAGE" />
    <!-- 兼容flyme3.0配置权限 -->
    <uses-permission android:name="com.meizu.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.yqbj.ghxm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.wulewan.ghxm.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="com.yqbj.ghxm.NimApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar"
        tools:replace="android:allowBackup">

        <!--友盟统计-->
        <meta-data android:value="${UMENG_APPKEY_VALUE}" android:name="UMENG_APPKEY"/>
        <meta-data android:value="${UMENG_CHANNEL_VALUE}" android:name="UMENG_CHANNEL"/>

        <!-- 如果IDE是Eclipse，此处可将build.gradle中的AMAP_KEY定义拷贝过来。 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="${AMAP_KEY}" />

        <meta-data
            android:name="com.netease.nim.appKey"
            android:value="${NIM_KEY}" />

        <uses-library
            android:name="com.google.android.maps"
            android:required="false" />

        <!-- 金融魔方SDK 渠道id以及红包名称 -->
        <meta-data
            android:name="JRMF_PARTNER_NAME"
            android:value="云信红包" />

        <!-- 全面屏配置 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        <meta-data
            android:name="android.notch_support"
            android:value="true" />

        <!-- 导航页 -->
        <activity
            android:name="com.yqbj.ghxm.main.activity.WelcomeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomeEntranceActionBarTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="YQIChat" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <!-- 主界面 -->
        <activity
            android:name="com.yqbj.ghxm.main.activity.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.yqbj.ghxm.main.activity.RedPacketContactSelectAct"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/RedPacketTheme"
            android:windowSoftInputMode="adjustPan" />

        <!-- 多端登录管理 -->
        <activity
            android:name="com.yqbj.ghxm.main.activity.MultiportActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- 登录界面 -->
        <activity
            android:name="com.yqbj.ghxm.login.LoginActivity"
            android:configChanges="orientation"
            android:label="@string/login"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- 关于 -->
        <activity
            android:name="com.yqbj.ghxm.main.activity.AboutActivity"
            android:configChanges="orientation"
            android:label="@string/about"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.yqbj.ghxm.main.activity.SettingsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.yqbj.ghxm.main.activity.NoDisturbActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.yqbj.ghxm.contact.activity.AddFriendActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.yqbj.ghxm.contact.activity.UserProfileActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.yqbj.ghxm.contact.activity.UserProfileSettingActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.yqbj.ghxm.contact.activity.ModifyBindPhoneGuideActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.yqbj.ghxm.contact.activity.ModifyBindPhoneActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.yqbj.ghxm.contact.activity.UserProfileEditItemActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.yqbj.ghxm.contact.activity.BlackListActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.yqbj.ghxm.contact.activity.SetFontSizeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!-- 文件管理器 -->
        <activity
            android:name="com.yqbj.ghxm.file.browser.FileBrowserActivity"
            android:configChanges="orientation"
            android:label="@string/file_browser"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.yqbj.ghxm.main.activity.SystemMessageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.yqbj.ghxm.main.activity.CustomNotificationActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.yqbj.ghxm.session.activity.MessageHistoryActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.yqbj.ghxm.session.activity.MessageInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.yqbj.ghxm.team.activity.AdvancedTeamSearchActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.yqbj.ghxm.team.activity.AdvancedTeamJoinActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.yqbj.ghxm.main.activity.TeamListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 全局搜索 -->
        <activity
            android:name="com.yqbj.ghxm.main.activity.GlobalSearchActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="stateUnspecified" />
        <activity
            android:name="com.yqbj.ghxm.main.activity.GlobalSearchDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.yqbj.ghxm.main.activity.GlobalSearchDetailActivity2"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 查看阅后即焚 -->
        <activity
            android:name="com.yqbj.ghxm.session.activity.WatchSnapChatPictureActivity"
            android:configChanges="keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 下载文件 -->
        <activity
            android:name="com.yqbj.ghxm.session.activity.FileDownloadActivity"
            android:configChanges="keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- map -->
        <activity
            android:name="com.yqbj.ghxm.location.activity.LocationAmapActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/location_map"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" />
        <activity
            android:name="com.yqbj.ghxm.location.activity.NavigationAmapActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/location_navigate"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" />

        <!-- 消息历史搜索 -->
        <activity
            android:name="com.yqbj.ghxm.session.search.SearchMessageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustPan|stateUnspecified" />
        <activity
            android:name="com.yqbj.ghxm.session.search.DisplayMessageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- 聊天室 -->
        <activity
            android:name="com.yqbj.ghxm.chatroom.activity.ChatRoomActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.yqbj.ghxm.jsbridge.JsBridgeActivity"
            android:label="@string/js_bridge"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <!-- 机器人 -->
        <activity
            android:name="com.yqbj.ghxm.main.activity.RobotListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 已读回执 -->
        <activity
            android:name="com.yqbj.ghxm.session.activity.SendAckMsgActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 已读回执详情 -->
        <activity
            android:name="com.yqbj.ghxm.session.activity.AckMsgInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.yqbj.ghxm.contact.activity.RobotProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.yqbj.ghxm.main.activity.PrivatizationConfigActivity"
            android:configChanges="orientation"
            android:label="@string/privatization_config"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.yqbj.ghxm.main.activity.MsgMigrationActivity"
            android:configChanges="orientation"
            android:label="@string/local_db_migration"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <!-- 我的二维码 -->
        <activity
            android:name="com.yqbj.ghxm.zxing.QrCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" />

        <!-- 声明云信后台服务 -->
        <service
            android:name="com.netease.nimlib.service.NimService"
            android:process=":core" />

        <!-- 运行后台辅助服务 -->
        <service
            android:name="com.netease.nimlib.service.NimService$Aux"
            android:process=":core" />

        <!-- 声明云信后台辅助服务 -->
        <service
            android:name="com.netease.nimlib.job.NIMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":core" />

        <!-- 云信SDK的监视系统启动和网络变化的广播接收器，用户开机自启动以及网络变化时候重新登录 -->
        <receiver
            android:name="com.netease.nimlib.service.NimReceiver"
            android:exported="false"
            android:process=":core">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- 云信进程间通信receiver -->
        <receiver android:name="com.netease.nimlib.service.ResponseReceiver" />

        <!-- 云信进程间通信service -->
        <service android:name="com.netease.nimlib.service.ResponseService" />

        <!-- 云信进程间通信provider -->
        <!-- android:authorities="{包名}.ipc.provider", 请将com.netease.nim.demo替换为自己的包名 -->
        <provider
            android:name="com.netease.nimlib.ipc.NIMContentProvider"
            android:authorities="com.yqbj.ghxm.ipc.provider"
            android:exported="false"
            android:process=":core" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.yqbj.ghxm.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files_path" />
        </provider>

        <!-- 申明自定义通知的广播接收器，第三方APP集成时，action中的com.netease.nim.demo请替换为自己的包名 -->
        <receiver
            android:name="com.yqbj.ghxm.receiver.CustomNotificationReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.wulewan.ghxm.ACTION.RECEIVE_CUSTOM_NOTIFICATION" />
            </intent-filter>
        </receiver>

        <!-- 小米推送配置 -->
        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":mixpush" />
        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true"
            android:process=":mixpush" />

        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false"
            android:process=":mixpush">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" />

        <receiver
            android:name="com.netease.nimlib.mixpush.mi.MiPushReceiver"
            android:exported="true">
            <intent-filter android:priority="0x7fffffff">
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>

        <!-- 华为推送配置 -->

        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="${HUAWEI_PUSH_APIKEY}" />

        <provider
            android:name="com.huawei.hms.update.provider.UpdateProvider"
            android:authorities="com.yqbj.ghxm.hms.update.provider"
            android:exported="false"
            android:grantUriPermissions="true" />

        <!-- 第三方相关 :接收Push消息（注册、Push消息、Push连接状态）广播 -->
        <receiver android:name="com.netease.nimlib.mixpush.hw.HWPushReceiver">
            <intent-filter android:priority="0x7fffffff">

                <!-- 必须,用于接收token -->
                <action android:name="com.huawei.android.push.intent.REGISTRATION" />
                <!-- 必须，用于接收消息 -->
                <action android:name="com.huawei.android.push.intent.RECEIVE" />
                <!-- 可选，用于点击通知栏或通知栏上的按钮后触发onEvent回调 -->
                <action android:name="com.huawei.android.push.intent.CLICK" />
                <!-- 可选，查看push通道是否连接，不查看则不需要 -->
                <action android:name="com.huawei.intent.action.PUSH_STATE" />
            </intent-filter>

            <meta-data
                android:name="CS_cloud_ablitity"
                android:value="successRateAnalytics" />
        </receiver>
        <receiver android:name="com.huawei.hms.support.api.push.PushEventReceiver">
            <intent-filter>

                <!-- 接收通道发来的通知栏消息，兼容老版本Push -->
                <action android:name="com.huawei.intent.action.PUSH" />
            </intent-filter>
        </receiver>

        <!-- 高德地图 -->
        <service android:name="com.amap.api.location.APSService" />

        <!-- fcm -->
        <service android:name="com.netease.nimlib.mixpush.fcm.FCMTokenService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!-- 设置收到 fcm 通知展示的图标和颜色 -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/theme_color" />

        <!-- meizu -->
        <receiver android:name="com.netease.nimlib.mixpush.mz.MZPushReceiver">
            <intent-filter android:priority="0x7fffffff">

                <!-- 接收push消息 -->
                <action android:name="com.meizu.flyme.push.intent.MESSAGE" />
                <!-- 接收register消息 -->
                <action android:name="com.meizu.flyme.push.intent.REGISTER.FEEDBACK" />
                <!-- 接收unregister消息 -->
                <action android:name="com.meizu.flyme.push.intent.UNREGISTER.FEEDBACK" />
                <!-- 兼容低版本Flyme3推送服务配置 -->
                <action android:name="com.meizu.c2dm.intent.REGISTRATION" />
                <action android:name="com.meizu.c2dm.intent.RECEIVE" />

                <category android:name="com.wulewan.ghxm" />
            </intent-filter>
        </receiver>

        <!-- ==========================以下为在Demo基础上修改============================== -->

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.yqbj.ghxm.wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustUnspecified|stateHidden" />
        <activity
            android:name="com.yqbj.ghxm.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustUnspecified|stateHidden" />
        <activity
            android:name="com.yqbj.ghxm.main.SplashActivity"
            android:configChanges="orientation"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name="com.yqbj.ghxm.login.NewLoginActivity"
            android:configChanges="orientation"
            android:label="@string/login"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.yqbj.ghxm.share.ShareSchemeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"/>
        <activity
            android:name="com.yqbj.ghxm.utils.MainWebViewActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.yqbj.ghxm.user.BindPhoneActivity"
            android:configChanges="orientation"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/BindPhoneTheme"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name="com.yqbj.ghxm.redpacket.privateredpacket.GroupRedPacketActivity"
            android:configChanges="orientation"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/RedPacketTheme"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name="com.yqbj.ghxm.redpacket.privateredpacket.P2PRedPackActivity"
            android:configChanges="orientation"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/RedPacketTheme"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name="com.yqbj.ghxm.redpacket.wallet.CoinPurseActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name="com.yqbj.ghxm.zxing.CaptureActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name="com.yqbj.ghxm.redpacket.wallet.SettingPayPasswordActivity"
            android:configChanges="orientation"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name="com.yqbj.ghxm.team.activity.OneKeyCopyTeamAct"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name="com.yqbj.ghxm.redpacket.wallet.DetailsChangeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name="com.yqbj.ghxm.redpacket.wallet.DetailedQueryActivity"
            android:configChanges="orientation"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name="com.yqbj.ghxm.main.activity.TeamActiveInfoAct"
            android:configChanges="orientation"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name="com.yqbj.ghxm.team.activity.TeamManagerActivity"
            android:configChanges="orientation"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name="com.yqbj.ghxm.team.activity.TeamAssistantActivity"
            android:configChanges="orientation"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name="com.yqbj.ghxm.contact.activity.AlbumActivity"
            android:configChanges="orientation"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name="com.yqbj.ghxm.contact.activity.AlbumDetailActivity"
            android:configChanges="orientation"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/FullTheme"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name="com.yqbj.ghxm.team.activity.SeeRecordActivity"
            android:configChanges="orientation"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name="com.yqbj.ghxm.team.activity.RobotWebViewActivity"
            android:configChanges="orientation"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name="com.yqbj.ghxm.team.activity.NoReceivedRPRecordActivity"
            android:configChanges="orientation"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize|adjustPan" />

        <activity
            android:name="com.yqbj.ghxm.team.activity.MyTeamMiBiActivity"
            android:configChanges="orientation"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize|adjustPan" />

        <activity
            android:name="com.yqbj.ghxm.team.activity.SetMiBiActivity"
            android:configChanges="orientation"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize|adjustPan" />

        <activity
            android:name="com.yqbj.ghxm.team.activity.NoCollarActivity"
            android:configChanges="orientation"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name="com.yqbj.ghxm.team.activity.UpgradeTeamPeopleAct"
            android:configChanges="orientation"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name="com.yqbj.ghxm.team.activity.TeamRedPacketAssistantActivity"
            android:configChanges="orientation"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name="com.yqbj.ghxm.team.activity.DelayedCollectionRPAct"
            android:configChanges="orientation"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name="com.yqbj.ghxm.team.activity.TeamTimeSettingActivity"
            android:configChanges="orientation"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name="com.yqbj.ghxm.team.activity.TeamAssistantDetailsActivity"
            android:configChanges="orientation"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name="com.yqbj.ghxm.team.activity.AdvancedTeamInfoAct"
            android:configChanges="orientation"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name="com.yqbj.ghxm.team.activity.InactiveDetailInfoAct"
            android:configChanges="orientation"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name="com.yqbj.ghxm.redpacket.wallet.DetailsRedPacketActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/RedPacketTheme"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name="com.yqbj.ghxm.user.PasswordManageActivity"
            android:configChanges="orientation"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name="com.yqbj.ghxm.user.CheckPayPswdActivity"
            android:configChanges="orientation"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name="com.yqbj.ghxm.user.RetrievePayPwdActivity"
            android:configChanges="orientation"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name="com.yqbj.ghxm.team.activity.AdvancedTeamMemberInfoAct"
            android:configChanges="orientation"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name="com.yqbj.ghxm.team.activity.AdvanceTeamAllMemAct"
            android:configChanges="orientation"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name="com.yqbj.ghxm.user.BindALiPayActivity"
            android:configChanges="orientation"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name="com.yqbj.ghxm.main.activity.FeedbackActivity"
            android:configChanges="orientation"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name="com.yqbj.ghxm.redpacket.wallet.CarryActivity"
            android:configChanges="orientation"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name="com.yqbj.ghxm.redpacket.wallet.RechargeActivity"
            android:configChanges="orientation"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name="com.yqbj.ghxm.redpacket.privateredpacket.ChooseRecipientsListACT"
            android:configChanges="orientation"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name="com.yqbj.ghxm.redpacket.privateredpacket.RedPackDetailsActivity"
            android:configChanges="orientation"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/RedPacketDetailsTheme"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name="com.yqbj.ghxm.user.AgreementActivity"
            android:configChanges="orientation"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize|adjustPan"/>
    </application>

</manifest>